body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: green;
    text-align: center;
    padding: 20px;
    color: white;
}
.img-container {
    text-align: center;
    margin-top: 50px;
}
.img {
    max-width: 75%;
    align-items: center;
    height: auto;
}
.product-info {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
.product-info h1 {
    color: white;
}
.cta-Button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;

}